@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  user-select: none;
}

.onboard-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.main-container {
  position: relative;
  z-index: 1;
  width: 100%;
}

.view {
  position: relative;
  left: 0px;
  width: 100%;
}

.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.splide__track{
  overflow: visible !important;
}

@media only screen and (min-width: 768px) {
  .view {
    left: 300px;
    width: calc(100% - 300px);
  }
}